@font-face {
    font-family: 'typo';
    src: url(./assets/Quicksand_Book.otf);
}

html p{
    margin-block-end: 0;
}

html body #root>div{
    font-family: 'typo';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root>div>div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll;
}

.makeStyles-cardDetails-15 div{
    display: flex;
    align-items: center;
}

#root div main a:hover{
    background-color: #D27070;
}

#root div main>ul li:hover{
    cursor: pointer;
}

#ul{
    transition: 0.7s ease;
    transform: translateY(-100%);
}

.ulClicked{
    transform: translateY(0%) !important;
}

footer{
    color: white;
    background-color: #515250 ;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    padding: 2rem;
    text-align: justify;
    font-size: 1.2rem;
}

article a{
    margin-top: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-flow: row wrap;
    margin: inherit;
    padding: inherit;
}

footer ul:first-child{
    flex-grow: 2;
}

footer ul li{
    padding: 1rem 1rem;
}

footer a{
    color: inherit;
    text-decoration: inherit;
}